* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 15px; */
    padding: 5px;

    .plus {
        background-color: #1942e4;
        border-radius: 50%;
    }

    .minus {
        background-color: #1942e4;
        border-radius: 50%;
    }

    .x {
        background-color: #1942e4;
        border-radius: 50%;
    }

    .divide {
        background-color: #1942e4;
        border-radius: 50%;
    }

    .equal {
        background-color: #27e3e3;
    }
}

.button {
    padding: 30px;
    margin: 10px;
    background: rgb(91, 91, 137);
    height: 25px;
    width: 25px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    user-select: none;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 25px;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    .calculator {
        background: linear-gradient(#061a47, #242748);
        border-radius: 8px;
        width: 330px;
        height: 585px;
        position: relative;

        h1 {
            text-align: center;
            color: rgb(168, 166, 163);
            opacity: 20%;
        }

        .input-box {
            padding: 25px;
            margin: 5px 5px auto;
            width: 275px;
            height: 136.04px;
            background: linear-gradient(#061a47, #242748);
            border: none;
            outline: none;
            color: white;
            font-size: 1.2em;
        }
    }
}

.clear {
    position: absolute;
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    right: 6px;
    top: 200px;
    cursor: pointer;
    height: 21px;
    width: 60px;
    transition: all 0.3s ease;
    border-radius: 15px;
    /* position: sticky; */
}

.back {
    position: absolute;
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    right: 70px;
    top: 200px;
    cursor: pointer;
    height: 21px;
    width: 43px;
    transition: all 0.3s ease;
    border-radius: 15px;
    /* position: sticky; */
}
